<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.develop.mapper.TypesMapper">

    <select id="queryAll" resultType="Types">
        select * from types;
    </select>


    <select id="getTypeLimit" resultType="Types" parameterType="map">
        select * from types
        <if test="field!=null">
            order by #{field} desc limit #{limit};
        </if>
        <if test="field==null">
            limit #{limit};
        </if>
    </select>


</mapper>